footer
    script(src="./js/vendors/badIe.js")
    script(src="manifest.bundle.js", defer="true")
    script(src="node.bundle.js", defer="true")
    script(src="vendor.bundle.js", defer="true")
    script(src="js.bundle.js", defer="true")

