include ../../../node_modules/bemto.pug/bemto
include ../mixins/page
include ../mixins/icon
include ../mixins/scripts

doctype html
html(lang="ru-RU")
    include ../head/index
    +page
        include ../loader/index
        +b.HEADER.header
            block header
        block content

        +b.footer
            block footer
        +b.FOOTER
            +scripts(['../js/vendors/webcomponentsjs/index.js', 'site.js'])