+b.welcome
    +e.A(href="https://github.com/abaddonGIT").logo
        figure
            +b(href="./images/logo.png").js-fancy
                +e.IMG.img(src='./images/logo.png', alt="")
            figcaption
                | Тут мог быть ваш сайт
            owl-place
                owl-config(slot="config").
                    {
                        "loop": "true",
                        "margin": 10,
                        "nav": "true",
                        "responsive": {
                            "0":{
                                "items":1
                            },
                            "600":{
                                "items":3
                            },
                            "1000":{
                                "items":5
                            }
                        }
                    }
                owl-wrap(slot="wrap")
                    img(src="./images/150x150.png", alt="")
                    img(src="./images/150x150.png", alt="")
                    img(src="./images/150x150.png", alt="")
                    img(src="./images/150x150.png", alt="")
