extends ../layout/common-layout

block Header
    .container
        | Header content
block Content
    .wrapper
        .container
            a.js-fancy.logo-link(href=require('../../images/favicon.svg') aria-label='Webpack boilerplate.')
                img.logo-img(src=require('../../images/favicon.svg') alt='website logo')
            h1
                span
                    | Site webpack
                a.link(href='https://github.com/abaddonGIT/WebPackAndGulp.git' aria-label='Webpack boilerplate.')
                    |  boilerplate
            +svg-icon('twitter')
            +svg-icon('facebook')
            collapsed-text
                | Phasellus lobortis justo at mauris tempus, ut venenatis nisl sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi interdum lacinia dapibus. Nunc malesuada facilisis convallis. Etiam quis ipsum non diam rutrum aliquet et feugiat nibh. Phasellus vehicula semper laoreet. Cras convallis id mauris in posuere. Quisque ut lorem vel risus viverra posuere quis at mauris.
block Footer
    .container
        | Footer content