.d-f {
  display: flex;
}

.d-b {
  display: block;
}

.t-a-c {
  text-align: center;
}

.t-a-l {
  text-align: left;
}

.t-a-r {
  text-align: right;
}

.t-a-j {
  text-align: justify;
}

.c-p {
  cursor: pointer;
}

.t-d-n {
  text-decoration: none;
}

.t-d-u {
  text-decoration: underline;
}

.p-st {
  position: sticky;
}

.p-s {
  position: static;
}

.p-r {
  position: relative;
}

.p-f {
  position: fixed;
}

.p-a {
  position: absolute;
}

.m-a {
  margin-left: auto;
  margin-right: auto;
}

.f-w {
  flex-wrap: wrap;
}

.f-d-c {
  flex-direction: column;
}

.f-d-r {
  flex-direction: row;
}

.is-clear {
  @include clearfix();
}

.ov-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}