/*
* Стандартные примеси для базовых свойств
*/

.is-left {
  float: left;
}

.is-right {
  float: right;
}

.is-block {
  display: block;
}

.is-none {
  display: none;
}

.is-b-inline {
  display: inline-block;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.d-none {
  text-decoration: none;
}

.d-line {
  text-decoration: underline;
}

.d-cross {
  text-decoration: line-through;
}

.res {
  width: 100%;
  height: auto;
  .is-block;
}

/***************************
* Для плагина анимации
****************************/
.wow {
  visibility: hidden;
}