@import "grid/grid.css";
@import "fonts";
@import "lessVariables";
@import "utilityMixins";
@import "gradientsMixins";
@import "baseMixins";
@import "sprites";
@import "animate/animate.min.css";
@import "svgSprite";

/****************************
* SPRITES
****************************/
@site-sprite: dogs;
@sLength: length(@site-sprite);
.sprite-loop (@i) when (@i > 0) {
  @sp: extract(@site-sprite, @i);
  .sprite--@{sp} {
    .sprite(@@sp);
  }
  .sprite-loop(@i - 1);
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  &:hover {
    .d-none;
  }
}

/*
* Bad ie styles
*/
#badIE {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #673AB7;

  h1 {
    position: absolute;
    top: 48%;
    width: 100%;
    color: @white;
    .t-center();
  }
}

.sprite-loop(@sLength);

html {
  font-size: @default-font-px-size;

  body {
    font-size: @default-font-rem-size;
    color: @default-font-color;
    background: url("../images/350x150.png");
  }
}

body, html {
  font-family: @default-font-family;
  -webkit-text-size-adjust: none;
}

/*-------------------------ШАПКА САЙТА-------------------*/
.c-header {

}

/*------------------------ОБЛАСТЬ КОНТЕНТА--------------------*/

.c-main {

}

/*------------------------ПОДВАЛ----------------------*/

.c-footer {

}