extends pug/layout/common-layout

block Header
    .container
        | Header content
block Content
    .wrapper
        .nav
            h1
                span 404
                a.link(href='https://github.com/abaddonGIT/WebPackAndGulp.git' aria-label='Webpack boilerplate.') boilerplate
