extends chunks/layouts/default

block head
    - var pageTitle = 'Home page application';
    - var pageDesc = 'Home page description';
    - var pageWords = 'First page';
block header
    include chunks/header/index
block content
    +b.MAIN.main.has-anim
        include chunks/welcome/index
        go-up(data-offset="10")
block footer
    include chunks/footer/index