extends blocks/layouts/default

block head
    - var pageTitle = 'Home page application';
    - var pageDesc = 'Home page description';
    - var pageWords = 'First page';
block content
    +b.HEADER.header
        +e.A(href="https://github.com/abaddonGIT").logo
            +e.IMG.img(src='./images/logo.png', alt="")
    +b.MAIN.main