include templates/mixins
doctype html
html(lang='en')
    include templates/head
    body
        header.c-header
        main.c-main
            +icon('check', '')
        .c-footer
        include templates/scripts