include templates/mixins
doctype html
html(lang='en')
    include templates/head
    body
        p
            | Hello world!
        +icon('check','red_mod')
        .c-list
            .c-item
                |test
            .c-item
                | test
            .c-item
                | test
            .c-item
                | test
            .c-item
                | test
        include templates/scripts