extends blocks/layouts/default

block head
    - var pageTitle = 'Home page application';
    - var pageDesc = 'Home page description';
    - var pageWords = 'First page';
block header
    
block content
    +b.MAIN.main
    include blocks/welcome/welcome
block footer
    include blocks/footer/footer